
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="masthead-content">
      <div class="container">
          <div class="jumbotron">
            <h2 class="masthead-subheading mb-0">book</h2>
            <form action="{% url 'event-book' event.id %}" method="POST">
              {% csrf_token %}
              {{form|crispy}}
              <input class = "btn btn-primary btn-xl rounded-pill mt-5" type="submit" value="Login" name="book">
            </form>
        </div>
      </div>
  </body>
</html>
