{% extends "base.html" %}
{% load static %}
{% block title %}List{% endblock title %}
{% block content %}
<div class="row">
          <div class="card-body">
            <br><br><br><br>
            {% for event in events %}
            <h5 class="card-title">{{ event.title }}</h5>
            <a href="{% url 'event-detail' event.id %}" class="btn btn-primary btn-xl rounded-pill mt-1">Detail</a>
            {% endfor %}
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-center">
            </li>
          </ul>

        </div>
    </div>
</div>
{% endblock content %}
